[package]
name = "speedtest_cli_wrapper"
version = "0.1.1"
edition = "2024"

[dependencies]
serde = { version = "1.0.228", features = ["derive"] }
serde_json = "1.0.148"
tokio = { version = "1.49.0", features = [ "rt-multi-thread", "time", "signal", "macros", "sync" ] }